
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn{
    border-radius: 41px;
    background-color: #E02C6D;
    padding: 10px 24px;
    gap: 8px;
    border: none;
    margin-top: 16px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: auto 120px;
    
    
}
.nav-bar ul{
    display: flex;
    gap: 34px;
    list-style: none;
  
}
.nav-bar a{
    text-decoration: none;
}
.journey{
    display: flex;
    gap: 133px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}
.journey-text{
    width: 582px;
    height: 270px;
}
.journey-text h2{
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 8px;
}
.journey-img{
    /* width: 100%; */
    background-image: url(../images/Circle\ design.svg);
}
.main-img{
    width: 100%;
}
.website{
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    align-items: center;
    gap: 60px;
    margin: 69px auto 100px auto;
}
.main-container{
    display: grid;
    margin: 100px 32px;
    justify-items: center;

}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}
.card{
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 rgba(0, 0, 0, 0.15);
    width: 329px;
    height: 476px;
    
}
.Featured{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 1110px;
    justify-items: center;
    margin: 0 165px 100px 165px;
    gap: 96px;
}
.footer{
    display: grid;
    justify-content: center;
    text-align: center;
}
.footer-icon{
    gap: 16px;
}